{#
/**
 * @file
 * Default theme implementation for a views swiper pager item.
 *
 * Available variables:
 * - plugin: The main frame swiper plugin.
 * - slides: The slides.
 * - vss_id: The swiper's id.
 *
 * @ingroup vss_templates
 */
#}
<div id="{{ plugin }}_main_{{ vss_id }}" class="{{ plugin }}_main lp_swiper_main swiper">
    {{ slides }}
</div>
