.footer {
  background-color: clr(background-light);
  padding: $space 0;

  &__inner {
    @include wrapper();

    @include medium {
      @include wrapper(95%);
    }

    @include large {
      @include wrapper(90%);
    }

    @include xl {
      @include wrapper(80%);
    }

    display: flex;
    flex-flow: column nowrap;

    @include large {
      flex-direction: row;
    }
  }

}

.footer__branding {
  margin-bottom: $space;


  @include large {
    flex: 0 1 30%;
    margin-bottom: 0;
    margin-right: $space;

    img {
      min-width: 50%;
    }
  }
}

.footer__social {
  margin-bottom: $space;

  @include large {
    flex: 0 1 25%;
    margin-bottom: 0;
    margin-right: $space;
  }
}

.footer__menu {
  @include large {
    flex: 1 1 25%;
    margin-left: auto;
  }
}

.footer__mission {
  font-size: .8125rem;
  color: clr(text-lighter);
  @include large {
    flex: 1 1 50%;
    margin-left: auto;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.1;
    margin: .625rem 0;
  }

  .ourmission__copyright {
    color: clr(link);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
