.news-block {
  padding: $space-double 0;

  h2 {
    color: clr(news);
    @include space-stack-page;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: clr(news);
    border-bottom: 4px solid clr(news);
    margin-bottom: $space;
    font-weight: 700;

    a {
      text-decoration: none;
      color: clr(news);
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.h2--news-block-empty {
  color: clr(news);
  padding-top: $space-double;
}
