.news-room-css-class {
    >.container {
        padding: 0;
    }

    .newsroom {
        header {
            padding: 0 15px;

            h2 {
                margin-bottom: 0;
            }
        }

        .page-title {
            display: none;
        }

        .total-counter {
            display: inline-block;
            min-width: 10px;
            padding: 4px 7px;
            font-size: 13px;
            font-weight: bold;
            color: #fff;
            line-height: 1;
            vertical-align: middle;
            white-space: nowrap;
            text-align: center;
            background-color: #777;
            border-radius: 10px;
        }
    }



    .insights-in-newsroom {
        .views-row {
            .views-col {
                margin-left: 15px;
                margin-right: 15px;
                width: 47% !important;
                border-top: 5px solid #396;
                margin-bottom: 15px;

                @media (min-width: $p-small) {
                    width: 90% !important;
                }

                @media (min-width: $p-tablet) {
                    width: 45% !important;
                }

                .views-field-field-image {
                    float: left;

                    @media (min-width: $p-small) {
                        width: 25%;
                    }

                    @media (min-width: $p-tablet) {
                        width: 50%;
                    }
                }

                .views-field-title {
                    float: right;
                    clear: right;
                    padding: 0 15px;
                    padding-top: 10px;
                    margin-bottom: 0;
                    line-height: normal;

                    @media (min-width: $p-small) {
                        width: 75%;
                    }

                    @media (min-width: $p-tablet) {
                        width: 50%;
                    }

                    span {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: normal;

                        a {
                            text-decoration: none;
                            color: #06C;


                            &:hover {
                                color: #004080;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .views-field-field-pubdate {
                    font-size: 13px;
                    font-family: "Merriweather Sans", sans-serif;
                    min-height: 1px;
                    float: right;
                    clear: right;
                    padding-left: 15px;
                    padding-right: 15px;

                    @media (min-width: $p-small) {
                        width: 75%;
                    }

                    @media (min-width: $p-tablet) {
                        width: 50%;
                    }

                    div {
                        &::before {
                            content: "";
                            padding: 0 3px 3px;
                            background-image: url(../images/icons8-date-50.png);
                            height: 16px;
                            width: 16px;
                            display: inline-block;
                            background-size: cover;
                            margin-right: 5px;
                            vertical-align: text-bottom;
                        }
                    }
                }

                .views-field-field-authors {
                    font-size: 13px;
                    font-family: "Merriweather Sans", sans-serif;
                    min-height: 1px;
                    float: right;
                    clear: right;
                    padding-left: 15px;
                    padding-right: 15px;
                    word-break: break-all;

                    @media (min-width: $p-small) {
                        width: 75%;
                    }

                    @media (min-width: $p-tablet) {
                        width: 50%;
                    }

                    div {
                        &::before {
                            content: "";
                            background-image: url(../images/user-icon.png);
                            height: 21px;
                            width: 21px;
                            padding: 0 3px 3px;
                            display: inline-block;
                            background-size: cover;
                            vertical-align: middle;
                        }
                    }
                }

                .views-field-body {  
                    font-size: 13px;
                    font-family: "Merriweather Sans", sans-serif;
                    min-height: 1px;
                    float: right;
                    clear: right;
                    padding-left: 15px;
                    padding-right: 15px;
                    max-height: 6.5em;
                    overflow: hidden;
                    line-height: normal;

                    @media (min-width: $p-small) {
                        width: 75%;
                    }

                    @media (min-width: $p-tablet) {
                        width: 50%;
                    }

                    .text-long {

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        .rtecenter {
                            font-size: 13px;
                            font-weight: normal;
                            padding: 0;
                            margin: 0;
                        }

                        strong, .rtecenter {
                            font-weight: normal;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .more-link {
            text-align: right;
            margin-top: 20px;
            font-size: 13px;
            font-style: italic;
            margin-right: 15px;

            a {
                text-decoration: none;
                color: #06C;


                &:hover {
                    color: #004080;
                    text-decoration: underline;
                }
            }
        }
    }

    .Organization-additional {
        .text-long {
            padding-left: 15px;
            padding-top: 15px;
        }
    }


/// Land Portal Events (end)////

    .land-portal-events-newsroom {
        .views-row {
            .views-col {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px;

                @media (min-width: $p-small) {
                    width: 90% !important;
                }

                @media (min-width: $p-tablet) {
                    width: 45% !important;
                }

                article.debate {
                    border-top: 5px solid #099;

                    .libaray-image {
                        float: left;
                        padding-right: 15px;

                        @media (min-width: $p-small) {
                            width: 25%;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }
                    }

                    .title {
                        float: right;
                        clear: right;
                        padding: 0 15px;
                        margin-bottom: 0;

                        @media (min-width: $p-small) {
                            width: 75%;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }

                        span {
                            font-size: 18px;
                            font-weight: 700;
                            line-height: normal;

                            a {
                                text-decoration: none;
                                color: #06C;


                                &:hover {
                                    color: #004080;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .debate-status-closed {
                        font-size: 13px;
                        font-family: "Merriweather Sans", sans-serif;
                        min-height: 1px;
                        float: right;
                        clear: right;
                        padding-left: 15px;
                        padding-right: 15px;

                        @media (min-width: $p-small) {
                            width: 75%;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }

                        div {
                            background-color: #C33;
                            padding: .2em .5em;
                            margin: 2px;
                            text-transform: uppercase;
                            display: inline;
                            font-size: 75%;
                            font-weight: bold;
                            line-height: 1;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            border-radius: .25em;
                        }
                    }

                    .latest-events-date {
                        font-size: 13px;
                        font-family: "Merriweather Sans", sans-serif;
                        min-height: 1px;
                        float: right;
                        clear: right;
                        padding-left: 15px;
                        padding-right: 15px;

                        @media (min-width: $p-small) {
                            width: 75%;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }

                        div {
                            &::before {
                                content: "";
                                padding: 0 3px 3px;
                                background-image: url(../images/icons8-date-50.png);
                                height: 16px;
                                width: 16px;
                                display: inline-block;
                                background-size: cover;
                                margin-right: 5px;
                                vertical-align: text-bottom;
                            }
                        }

                    }

                    .library-data-provider {
                        float: right;
                        clear: right;
                        margin-left: 10px;
                        font-size: 13px;
                        display: inline;

                        @media (min-width: $p-small) {
                            width: 75%;
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        @media (min-width: $p-tablet) {
                            width: 46%;
                            padding-left: 0;
                            padding-right: 0;
                        }

                        >div {
                            &::before {
                                content: "Facilitators:";
                                margin-right: 5px;
                                font-weight: bold;

                            }
                        }

                        div {
                            display: inline;

                            div:not(:first-of-type) {
                                display: inline;

                                &::before {
                                    content: ', ';
                                    margin-left: -3px;
                                }
                            }
                        }
                    }

                    .latest-events-organizers {
                        display: none;
                    }
                }

                article.event {
                    border-top: 5px solid #336;
                    margin-bottom: 15px;

                    .libaray-image {
                        float: left;
                        padding-right: 15px;
                        @media (min-width: $p-small) {
                            width: 25%;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }
                    }

                    .title {
                        float: right;
                        clear: right;
                        padding: 0 15px;
                        margin-bottom: 0;
                        line-height: normal;

                        @media (min-width: $p-small) {
                            width: 75%;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }

                        span {
                            font-size: 18px;
                            font-weight: 700;
                            line-height: normal;

                            a {
                                text-decoration: none;
                                color: #06C;


                                &:hover {
                                    color: #004080;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .date {
                        font-size: 13px;
                        font-family: "Merriweather Sans", sans-serif;
                        min-height: 1px;
                        float: right;
                        clear: right;
                        padding-left: 15px;
                        padding-right: 15px;

                        @media (min-width: $p-small) {
                            width: 75%;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }

                        div {
                            &::before {
                                content: "";
                                padding: 0 3px 3px;
                                background-image: url(../images/icons8-date-50.png);
                                height: 16px;
                                width: 16px;
                                display: inline-block;
                                background-size: cover;
                                margin-right: 5px;
                                vertical-align: text-bottom;
                            }
                        }

                    }
                    .location, .event-street, .event-city, .event-country{
                    	float: right;
						width: 50%;
						clear: right;
						padding: 0 15px;
						font-size: 13px;
                    }
                    .provider-in-data {
                        float: right;
                        clear: right;
                        font-size: 13px;
                        display: inline;

                        @media (min-width: $p-small) {
                            width: 75%;
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                            padding: 0 15px;
                        }

                        >div {
                            &::before {
                                content: "Organizers:";
                                margin-right: 5px;
                                font-weight: bold;

                            }
                        }

                        div {
                            display: inline;
                            div:not(:last-child)::after {
		                        content: ', ';
		                    }
                        }
                    }
                    .dataset-description {
                        font-size: 13px;
                        font-family: "Merriweather Sans", sans-serif;
                        min-height: 1px;
                        float: right;
                        clear: right;
                        padding-left: 15px;
                        padding-right: 15px;
                        max-height: 6.5em;
                        overflow: hidden;

                        @media (min-width: $p-small) {
                            width: 75%;

                        }

                        @media (min-width: $p-tablet) {
                            width: 50%;
                        }

                        .text-long {

                            h1,
                            h2,
                            h3,
                            h4,
                            h5,
                            h6 {
                                font-size: 13px;
                                font-weight: normal;
                                padding: 0;
                                margin: 0;
                            }

                            strong {
                                font-weight: normal;
                            }
                        }
                    }

                }

            }
        }

        .more-link {
            text-align: right;
            margin-top: 20px;
            font-size: 13px;
            font-style: italic;
            margin-right: 15px;

            a {
                text-decoration: none;
                color: #06C;


                &:hover {
                    color: #004080;
                    text-decoration: underline;
                }
            }
        }
    }
}
/// Land Portal Events (end)////


.project-background-azure-full {
    .user-teaser-description-style a {
        text-decoration: none;

        &:hover {
            text-decoration: none !important;
        }
    }

    .user-teaser-description-style .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 1.3em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
    }

    .user-teaser-description-style .btn-info {
        color: #fff !important;
        background-color: #5bc0de;
        border-color: #46b8da;

        &:hover {
            color: #fff;
            background-color: #269abc;
            border-color: #1b6d85;
        }

        &:active {
            outline: 0;
            background-image: none;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            text-decoration: none;
        }
    }
}

.new-work-in-newsroom, .announcements-in-newsroom{
	.views-row{
		.views-col{
			margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 15px;

            @media (min-width: $p-small) {
                width: 90% !important;
            }
            @media (min-width: $p-tablet) {
                width: 45% !important;
            }

            .libaray-image {
                float: left;
                padding-right: 15px;
                @media (min-width: $p-small) {
                    width: 25%;
                }
                @media (min-width: $p-tablet) {
                    width: 50%;
                }
            }
            .title {
                float: right;
                clear: right;
                padding: 0 15px;
                margin-bottom: 0;
                max-height: 8.8em;
				overflow: hidden;
				line-height: normal;

                @media (min-width: $p-small) {
                    width: 75%;
                }
                @media (min-width: $p-tablet) {
                    width: 50%;
                }
                span {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: normal;
                    a {
                        text-decoration: none;
                        color: #06C;
                        &:hover {
                            color: #004080;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .date {
                font-size: 13px;
                font-family: "Merriweather Sans", sans-serif;
                min-height: 1px;
                float: right;
                clear: right;
                padding-left: 15px;
                padding-right: 15px;

                @media (min-width: $p-small) {
                    width: 75%;
                }
                @media (min-width: $p-tablet) {
                    width: 50%;
                }

                div {
                    &::before {
                        content: "";
                        padding: 0 3px 3px;
                        background-image: url(../images/icons8-date-50.png);
                        height: 16px;
                        width: 16px;
                        display: inline-block;
                        background-size: cover;
                        margin-right: 5px;
                        vertical-align: text-bottom;
                    }
                }
            }
            .authors {
                font-size: 13px;
                font-family: "Merriweather Sans", sans-serif;
                min-height: 1px;
                float: right;
                clear: right;
                padding-left: 15px;
                padding-right: 15px;
                line-height: normal;
                word-break: break-all;

                @media (min-width: $p-small) {
                    width: 75%;
                }

                @media (min-width: $p-tablet) {
                    width: 50%;
                }

                >div {
                    &::before {
                        content: "";
                        background-image: url(../images/user-icon.png);
                        height: 21px;
                        width: 21px;
                        padding: 0 3px 3px;
                        display: inline-block;
                        background-size: cover;
                        vertical-align: middle;
                    }

                    div {
                        display: inline;

                    }

                    div:not(:first-of-type) {
                        display: inline;

                        &::before {
                            content: ', ';
                            margin-left: -3px;
                        }
                    }
                }
            }
            .dataset-description {
                font-size: 13px;
                font-family: "Merriweather Sans", sans-serif;
                min-height: 1px;
                float: right;
                clear: right;
                padding-left: 15px;
                padding-right: 15px;
                max-height: 6.5em;
                overflow: hidden;

                @media (min-width: $p-small) {
                    width: 75%;
                }

                @media (min-width: $p-tablet) {
                    width: 50%;
                }

                .text-long {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-size: 13px;
                        font-weight: normal;
                        padding: 0;
                        margin: 0;
                    }
                    strong {
                        font-weight: normal;
                    }
                }
            }
            .provider-in-data {
                float: right;
                clear: right;
                font-size: 13px;
                display: inline;

                @media (min-width: $p-small) {
                    width: 70%;
                }

                @media (min-width: $p-tablet) {
                    width: 50%;
                    padding: 0 15px;
                }

                >div {
                    &::before {
                        content: "Organizers:";
                        margin-right: 5px;
                        font-weight: bold;

                    }
                }

                div {
                    display: inline;
                    padding-right: 10px;

                    div:not(:last-child)::after {
                        content: ', ';
                    }
                }
            }
		}
	}
	.more-link {
        text-align: right;
        margin-top: 20px;
        font-size: 13px;
        font-style: italic;
        margin-right: 15px;
        a {
            text-decoration: none;
            color: #06C;

            &:hover {
                color: #004080;
                text-decoration: underline;
            }
        }
    }
    article.news{
		border-top: 5px solid #339;
	}
	article.event{
		border-top: 5px solid #336;
	}
	article.blog-post{
		border-top: 5px solid #396;
	}
	article.landlibrary-resource {
        border-top: 5px solid #906;

        .block.libaray-image {
            width: 25%;
            float: left;
            padding-right: 15px;
        }

        .library-tilte {
            width: 75%;
            min-height: 1px;
            padding: 10px 15px;
            float: right;
            clear: right;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;

            a {
                text-decoration: none;
                color: #06C;


                &:hover {
                    color: #004080;
                    text-decoration: underline;
                }
            }
        }

        .library-resource-type {
            font-size: 13px;
            font-family: "Merriweather Sans", sans-serif;
            width: 75%;
            min-height: 1px;
            float: right;
            clear: right;
            padding-left: 15px;
            padding-right: 15px;
        }

        .block.date {
            font-size: 13px;
            font-family: "Merriweather Sans", sans-serif;
            width: 75%;
            min-height: 1px;
            float: right;
            clear: right;
            padding-left: 15px;
            padding-right: 15px;

            div {
                &::before {
                    content: "";
                    padding: 0 3px 3px;
                    background-image: url(../images/icons8-date-50.png);
                    height: 16px;
                    width: 16px;
                    display: inline-block;
                    background-size: cover;
                    margin-right: 5px;
                    vertical-align: text-bottom;
                }
            }

        }

        .user-countries {
            display: none;
        }

        .library-description {
            font-size: 13px;
            font-family: "Merriweather Sans", sans-serif;
            width: 75%;
            float: right;
            clear: right;
            padding-left: 15px;
            padding-right: 15px;
            max-height: 6.5em;
            overflow: hidden;

            .text-long {
                h3 {
                    font-size: 13px;
                    font-weight: normal;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}