{{ attach_library('landportal/main-menu') }}
<div class="toggle-expand-wrapper">
  <a href="#" id="toggle-expand" class="toggle-expand">
  <div class="toggle-expand__open">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
</a>
</div>
