{#
/**
* @file
* Landportal Issue organizations block's theme implementation.
*
* Available variables:
* - items:
*   - title: Organizations' title.
*   - url: Organizations' url.
*   - date: Organizations' publish date.
*   - image_url: Organizations' image url.
*   - image_title: Organizations' image title.
*   - image_alt: Organizations' image alt.
* - more_news_url: More Organizations page url.
*/
#}
<div>

  <p>{{ project_status }}</p>
  <p>{{ project_price }}</p>
  <p>{{ project_duration }}</p>
</div>
